bin/
obj/
.vs/
/Dict/appsettings.json
.git
Dict/venv
Dict/TempOcr
Dict/requirements.txt
.env
*.pyc
/Dict/cache_kanji.json
/Dict/cache_trie_nodes.bin
/Dict/cache_trie_suggestions.json
/Dict/multilingual-e5-small.onnx
/Dict/tokenizer.json
